
<div ng-controller="homeController">
    <div class="jumbotron">
        <h1>DAY TIENG TRUNG</h1>
        <p class="lead">Website dao tao tieng Trung hay nhat vinh bac bo.</p>
        <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    @*<input type="text" ng-model="yourName" class="form-control" /> <h6> {{yourName}}</h6>*@
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Truy cap vao cac menu tren trang web de su dung chuc nang quan ly
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more Tieng Trung</h2>
            <p>Hoc tieng Trung tu xa qua app di dong.</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Easy to nap tien</h2>
            <p>Nap tien de su dung cac chuc nang vip</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

@section scripts{
    @*<script src="~/Scripts/homePage/Home.js"></script>*@
}